<p id="notice"><%= notice %></p>

<h1>
    <%= @wiki_post.title %>
</h1>
   

<%
=begin%>
 <%= image_tag(@wiki_post.image) %> 
<%
=end%>

<p>
    <%= @wiki_post.description %>
</p>

<%= render 'meta', wiki_post: @wiki_post %>


<div>
    <%= link_to 'Edit', edit_wiki_post_path(@wiki_post) %> |
    <%= link_to 'Delete', wiki_post_path(@wiki_post), method: :destroy %> |
    <%= link_to 'Back', wiki_posts_path %>
</div>
